<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main application menu -->
    <menuitem
        id="menu_lab_root"
        name="Laboratory"
        sequence="10"
        />

    <!-- Main menu for day-to-day operations -->
    <menuitem
        id="menu_lab_test_result"
        name="Test Results"
        parent="menu_lab_root"
        action="action_test_result"
        sequence="1"/>

    <!-- Configuration menu, only visible to managers -->
    <menuitem
        id="menu_lab_config"
        name="Configuration"
        parent="menu_lab_root"
        sequence="100"
        groups="rawdah_laboratory_management.group_lab_manager"/>

    <menuitem
        id="menu_lab_test_type"
        name="Test Types"
        parent="menu_lab_config"
        action="action_test_type"
        sequence="1"/>

</odoo>